<div *ngIf="data; else loading">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ชื่อ-นามสกุล</th>
        <th scope="col">วัน/เดือน/ปี เกิด</th>
        <th scope="col">ชนิดวัคซีนที่ฉีด</th>
        <th scope="col">จำนวนโดส</th>
        <th scope="col">ฉีดวันที่</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of data.results">
      <tr>
        <td>{{ item.firstName }} {{ item.lastName }}</td>
        <td>{{ item.birthdate }}</td>
        <td>{{ item.vaccineName }}</td>
        <td>{{ item.dose }}</td>
        <td>{{ item.date }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="spinner-border text-dark mt-3" role="status"></div>
  <span class="sr-only">Loading...</span>
</ng-template>
