date-covid {
  width: 165px;
}

.alert {
  height: 150px;
}
.alert-danger {
  background-color: #f54d4d;
  color: white;
}
.alert-success {
  background-color: #22b145;
  color: white;
}
.alert-dark {
  background-color: #808080;
  color: white;
}

.alert-info {
  background-color: rgb(135, 189, 233);
  color: white;
}
p {
  font-size: 32px;
  font-weight: 500;
}
span {
  font-size: 22px;
}
h1 {
  color: black;
}
