date-covid {
  width: 165px;
}

.alert {
  height: 150px;
}
.alert-danger {
  background-color: #f54d4d;
  color: white;
}
.alert-success {
  background-color: #22b145;
  color: white;
}
.alert-dark {
  background-color: #808080;
  color: white;
}

.alert-info {
  background-color: rgb(135, 189, 233);
  color: white;
}
p {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
span {
  font-size: 22px;
}
p.head-detail {
  margin-top: 10px;
  font-size: 30px;
  color: black;
  text-align: center;
}
.info-detail {
  margin-top: 40px;
  text-align: center;
}
.info-death {
  margin-top: 30px;
  text-align: center;
}
