date-covid {
  width: 165px;
}

.alert {
  height: 200px;
}
.alert-danger {
  background-color: rgb(255, 140, 140);
  color: white;
}
.alert-info {
  background-color: rgb(135, 189, 233);
  color: white;
}
.alert-success {
  background-color: rgb(142, 224, 139);
  color: white;
}
.alert-dark {
  background-color: rgb(134, 134, 134);
  color: white;
}
