@use "@angular/material" as mat;

@include mat.core();

$my-ng3-primary: mat.define-palette(mat.$indigo-palette);
$my-ng3-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-ng3-warn: mat.define-palette(mat.$red-palette);

$my-ng3-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-ng3-primary,
      accent: $my-ng3-accent,
      warn: $my-ng3-warn,
    ),
  )
);

@include mat.all-component-themes($my-ng3-theme);

body {
  margin: 0;
}
* {
  font-family: 'Kanit', sans-serif !important;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}
