<div class="covid-day">
  <p class="header-title mt-3">รายงานสถานการณ์ โควิด-19 รายวัน</p>

  <div class="container">
    <div *ngIf="timelineCasesAll; else loading">
      <div
        class="date-covid mt-3 d-flex align-items-center justify-content-end"
      >
        <h3 style="margin: 0; margin-right: 12px">วันที่ต้องการดูข้อมูล :</h3>
        <input
          type="date"
          (change)="onDateChange($event)"
          [value]="selectedDateCovidCases?.txn_date"
          [max]="now.toISOString().split('T')[0]"
        />
      </div>
      <div class="mt-3">
        <h3>อัพเดตล่าสุด : {{ selectedDateCovidCases?.update_date }}</h3>
      </div>

      <div class="d-flex w-100 d-flex">
        <div class="alert alert-danger w-50">
          <p class="head-detail">จำนวนผู้ป่วยรายใหม่</p>
          <div class="info-detail">
            <h1>{{ selectedDateCovidCases?.new_case?.toLocaleString() }} คน</h1>
            <span
              >สะสม
              {{ selectedDateCovidCases?.total_case?.toLocaleString() }}
              คน</span
            >
          </div>
        </div>

        <div class="w-50" id="chart" *ngIf="timelineCasesAll">
          <app-covid-line-chart
            [option]="chartNewCasesCovidOptions"
          ></app-covid-line-chart>
        </div>
      </div>

      <div class="d-flex w-100 d-flex">
        <div class="alert alert-dark w-50">
          <p class="head-detail">จำนวนเสียชีวิต</p>
          <div class="info-detail">
            <h1>{{ selectedDateCovidCases?.new_death }} คน</h1>
            <span
              >สะสม
              {{ selectedDateCovidCases?.total_death?.toLocaleString() }}</span
            >
          </div>
        </div>
        <div class="w-50" id="chart" *ngIf="timelineCasesAll">
          <app-covid-line-chart
            [option]="chartNewDeathCovidOptions"
          ></app-covid-line-chart>
        </div>
      </div>

      <div class="d-flex w-100 d-flex">
        <div class="alert alert-success w-50">
          <p class="head-detail">จำนวนผู้ป่วยรักษาหาย</p>
          <div class="info-detail">
            <h1>
              {{ selectedDateCovidCases?.new_recovered?.toLocaleString() }} คน
            </h1>
            <span>
              สะสม
              {{ selectedDateCovidCases?.total_recovered?.toLocaleString() }} คน
            </span>
          </div>
        </div>
        <div class="w-50" id="chart" *ngIf="timelineCasesAll">
          <app-covid-line-chart
            [option]="chartRecoverdCovidOptions"
          ></app-covid-line-chart>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <div class="spinner-border text-dark mt-3" role="status"></div>
      <span class="sr-only">กำลังโหลดข้อมูล...</span>
    </ng-template>
  </div>
</div>
