<p class="header-title mt-3">รายงานสถานการณ์ โควิด-19 รายวัน</p>

<div class="container">
  <div *ngIf="timelineCasesAll; else loading">
    <div class="date-covid mt-3 d-flex align-items-center justify-content-end">
      <h3 style="margin: 0; margin-right: 12px">วันที่ต้องการดูข้อมูล :</h3>
      <input
        type="date"
        (change)="onDateChange($event)"
        [value]="selectedDateCovidCases?.txn_date"
        [max]="now.toISOString().split('T')[0]"
      />
    </div>
    <div class="mt-3">
      <h3>อัพเดตล่าสุด : {{ selectedDateCovidCases?.update_date }}</h3>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="alert alert-danger">
          <h2>จำนวนผู้ป่วยรายใหม่</h2>
          <h1>{{ selectedDateCovidCases?.new_case?.toLocaleString() }} คน</h1>
          <span
            >สะสม
            {{ selectedDateCovidCases?.total_case?.toLocaleString() }} คน</span
          >
        </div>
      </div>

      <div id="chart" *ngIf="timelineCasesAll">
        <app-covid-line-chart
          [option]="chartNewCasesCovidOptions"
        ></app-covid-line-chart>
      </div>
      <div class="col">
        <div class="alert alert-dark">
          <h2>จำนวนเสียชีวิต</h2>
          <p>{{ selectedDateCovidCases?.new_death }} คน</p>
          <span
            >สะสม
            {{ selectedDateCovidCases?.total_death?.toLocaleString() }}</span
          >
        </div>
      </div>
      <div id="chart" *ngIf="timelineCasesAll">
        <app-covid-line-chart
          [option]="chartNewDeathCovidOptions"
        ></app-covid-line-chart>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-success">
          <h2>จำนวนผู้ป่วยรักษาหาย</h2>
          <h1>
            {{ selectedDateCovidCases?.new_recovered?.toLocaleString() }} คน
          </h1>
          <h3>
            สะสม
            {{ selectedDateCovidCases?.total_recovered?.toLocaleString() }} คน
          </h3>
        </div>
      </div>
      <div id="chart" *ngIf="timelineCasesAll">
        <app-covid-line-chart
          [option]="chartRecoverdCovidOptions"
        ></app-covid-line-chart>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-border text-dark mt-3" role="status"></div>
  <span class="sr-only">Loading...</span>
</ng-template>
