.alert {
  height: 150px;
}
.alert-danger {
  background-color: #f54d4d;
  color: white;
}
.alert-success {
  background-color: #22b145;
  color: white;
}
.alert-dark {
  background-color: #808080;
  color: white;
}
