.alert-danger {
  background-color: #f54d4d;
  color: white;
}
.alert-success {
  background-color: #22b145;
  color: white;
}
.alert-dark {
  background-color: #808080;
  color: white;
}

.covid-day {
  max-width: 850px;
  margin: 0 auto;
}
.head-detail {
  margin-top: 10px;
  font-size: 28px;
  text-align: center;
}
span {
  font-size: 20px;
}
.info-detail {
  text-align: center;
  margin-top: 40px;
}
